html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"]{
    font-family: 'Open Sans', sans-serif;
}

html{
    background: #2d2d2d;
    overflow-y: scroll;
  background-position: center;
  background-image: url("http://149.28.8.219/img/kmd80.gif");
  background-blend-mode: overlay;
  background-repeat: repeat;
  background-color:  #161616; 
}

body{
  height:100%;
  width:100%;
  z-index: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9vw;
  color: #12956C;
  text-align: center;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; 
  -moz-backface-visibility:hidden; 
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;
}

header > .home-menu{
    background: inherit !important;
    height: 54px;
    display: flex;
}

header > .home-menu > a.pure-menu-heading, header > .home-menu > ul, header > .home-menu > ul > li{
    display: flex !important;
    align-items: center;
    justify-content: center;
    line-height: normal !important;
}

header > .home-menu > a.pure-menu-heading{
    color: white;
    font-size: 1.5em;
}

header > .home-menu > ul > li > a{
    color: #ced4d9;
}

header > .home-menu > ul > li > a:hover, header > .home-menu > ul > li > a:focus{
    background: inherit !important;
}

header > .home-menu > ul > li > a:hover, header > .home-menu > ul > li.pure-menu-selected > a{
    color: white;
}

main{
    background-color: rgb(77,84,91);
    position: relative;
}

footer{
    text-align: center;
    color: #b3b3b3;
    text-decoration: none;
    font-size: 0.8em;
    padding: 15px;
    line-height: 24px;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer iframe{
    vertical-align: middle;
}